:root {
  --link-focused: #4d5ae5;
  --social-link: #4d5ae5;
  --overlay-box: #4d5ae5;
  --navigate-text: #2e2f42;
  --default-text: #434455;
  --text-white-color: #ffffff;
  --active-color: #e7e9fc;
  --light-mode-background: #f4f4fd;
  --button-color: #404bbf;
  --social-hover: #404bbf;
  --customers-hover: #404bbf;
  --hero-background: rgba(46, 47, 66, 0.7);
  --link-underline: #404bbf;
  --social-icon: #f4f4fd;
  --border-customers: #8e8f99;
  --footer-link-hover: #31d0aa;
  --overlay-text: #f4f4fd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--default-text);
  background-color: var(--text-white-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

/* ------------------------header-------------------- */

.header {
  border-bottom: 1px solid var(--active-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-page {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--link-focused);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-right: 76px;
}

.logo.link {
  text-decoration: none;
}

.logo:active {
  color: var(--active-color);
}

.accent {
  color: var(--navigate-text);
}

.accent:active {
  color: var(--active-color);
}

/* --------------------navigation------------------- */

.nav-list {
  display: flex;
  gap: 40px;
}

.heder-nav-list-item {
  display: block;
  padding: 24px 0;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: var(--navigate-text);
}

.heder-nav-list-item.link-focus:hover,
.heder-nav-list-item.link-focus:focus {
  color: var(--button-color);
}

.nav-list-link-studio-active {
  color: var(--link-underline);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.emphasis::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--link-underline);
  display: block;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.nav-list-link-portfolio-active {
  color: var(--link-underline);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------contacts------------------ */

.contacts {
  font-style: normal;
}

.list-contacts {
  display: flex;
  gap: 40px;
}

.link-contacts {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts.address {
  color: var(--default-text);
  text-decoration: none;
}

.list-contacts .link-contacts.address:hover,
.list-contacts.link-contacts.address:focus {
  color: var(--button-color);
}

.list-contacts .link:active {
  color: var(--active-color);
}

/* ------------------------section1----------------------- */

.page {
  background-image: linear-gradient(
      to bottom,
      var(--hero-background),
      var(--hero-background)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--text-white-color);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.page-button {
  display: block;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--link-focused);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white-color);
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-button:hover,
.page-button:focus {
  background-color: var(--button-color);
  color: var(--text-white-color);
}

/* ---------------------section2----------------- */

.advice {
  padding: 120px 0;
}

.list-advice {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.item-advice {
  width: calc((100%-72px) / 4);
}

.advice-box-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  background-color: var(--light-mode-background);
  border-radius: 4px;
}

.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navigate-text);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}

/* ---------------------------section3------------------- */

.device {
  padding-bottom: 120px;
}

.section-title {
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navigate-text);
  margin-bottom: 72px;
}

.list-device {
  display: flex;
  gap: 24px;
}

.item-device {
  width: calc((100%-48px) / 3);
}

.device-img {
  border: 1px solid var(--active-color);
}

/* ------------------section4--------------------- */

.section-team {
  background-color: var(--light-mode-background);
  padding: 120px 0;
}

.list-team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.container-team {
  padding: 32px 0;
}

.name-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navigate-text);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.name-text {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.container-team-item {
  display: flex;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--social-link);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--social-hover);
}

.svg-team-soc {
  fill: var(--social-icon);
}

/* ------------------------section5------------------- */

.section-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customers-item {
  display: inline-block;
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-customers);
  color: var(--border-customers);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border: 1px solid var(--customers-hover);
  color: var(--customers-hover);
}

.customers-svg {
  fill: currentColor;
}

/* ------------------------footer----------------- */

.page-footer {
  background-color: var(--navigate-text);
  padding: 100px 0;
  display: flex;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--link-focused);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo.link {
  text-decoration: none;
}

.footer-logo:active {
  color: var(--active-color);
}

.footer-accent {
  color: var(--light-mode-background);
}

.footer-accent:hover,
.footer-accent:focus {
  color: var(--link-focused);
}

.footer-accent:active {
  color: var(--active-color);
}

.footer-text {
  color: var(--light-mode-background);
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-box {
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-container-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  color: var(--text-white-color);
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--social-link);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 80px;
}

.footer-item-link:hover,
.footer-item-link:focus {
  background-color: var(--footer-link-hover);
}

.footer-svg {
  fill: var(--social-icon);
}

.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.footer-form-input {
  display: block;
  background-color: transparent;
  border: 1px solid var(--text-white-color);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--text-white-color);
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.5;
  min-width: 264px;
  height: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: var(--link-focused);
  color: var(--text-white-color);
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--button-color);
  color: var(--text-white-color);
}

.footer-button-svg {
  margin-left: 16px;
}

/*---------------------backdrop-----------------  */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px 24px 24px;
}

.modal-button {
  position: absolute;
  background: var(--active-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--button-color);
  fill: var(--text-white-color);
  border: none;
}

.button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navigate-text);
  margin-bottom: 16px;
}

.container-form {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-customers);
  margin-bottom: 4px;
}

.container-input {
  position: relative;
}

.form-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--link-focused);
}

.form-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within + .form-svg {
  fill: #4d5ae5;
}

.textarea-box {
  margin-bottom: 16px;
}

.form-textarea {
  display: block;
  resize: none;
  width: 360px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
}

.form-textarea:focus {
  border-color: var(--link-focused);
}

.checkbox-box {
  margin-bottom: 24px;
}

.checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-customers);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
}

.form-checkbox-svg {
  display: inline-block;
  border-radius: 2px;
  opacity: 0;
}

.form-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: var(--social-link);
}

.form-checkbox:checked + .checkbox-label > .checkbox-span .form-checkbox-svg {
  opacity: 1;
}

.form-checkbox:checked + .checkbox-label > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-size: 500;
  letter-spacing: 0.04em;
  background-color: var(--link-focused);
  color: var(--text-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

/* ------------------Button-portfolio----------------- */

.scope {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-id {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.link-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--link-focused);
  background-color: var(--light-mode-background);
  border: 1px solid var(--active-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-button:hover,
.link-button:focus {
  background-color: var(--button-color);
  color: var(--text-white-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------scope portfolio--------------- */

.list-scope {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.scope-item {
  background-color: var(--text-white-color);
  width: calc((100% - 48px) / 3);
}

.scope-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scope-link:hover,
.scope-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-img {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--overlay-box);
  color: var(--overlay-text);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.scope-link:focus .text-overlay {
  transform: translateY(0);
}

.box-img:hover .text-overlay {
  transform: translateY(0);
}
.container-items {
  padding: 32px 16px;
  border: 1px solid var(--active-color);
  border-top: none;
}

.scope-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navigate-text);
  margin-bottom: 8px;
}

.scope-text {
  letter-spacing: 0.02em;
  color: var(--default-text);
  font-size: 16px;
  line-height: 1.5;
}
